{% extends "base.html" %}

{% block app_content %}
    <h1>{{country.name}}</h1>
    <hr>
    <div class="row text-center">
        <style>
            .border{
                border-style: solid;
                border-width: 1px;
            }
        </style>
        <div class='col-md-3'>
            <img class="border" src="{{ url_for('static', filename='flags/'+country.flag_url) }}"
                alt="{{ country.name }}'s flag" width="125" height="80">
        </div>
        <div class='col-md-3'>
            Did you know? <br>
            {{ country.name }}'s capital city is:
            {{ country.capital }}<br>
            <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
            {% if already_picked %}
                <input type="hidden" name="submit button",
                value="select country">
                {{ form.submit(value='Try now!',
                class_='btn btn-default') }}
            {% else %}
                <input type="hidden" name="submit button",
                value="select country">
                {{ form.submit(value='Give it a shot?',
                class_='btn btn-default') }}
            {% endif %}
            </p>
            </form>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.search_user_text.label }} <br>
                {{ form.search_user_text(cols="20", rows="1", class_='btn btn-default') }}
                <input type="hidden" name="submit button", value="search user">
                {{ form.submit(value="Search user", class_='btn btn-default') }}
            </form>
        </div>
        <div class="col-md-3">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ form.search_country_text.label }} <br>
                {{ form.search_country_text(cols="20", rows="1", class_='btn btn-default') }}
                <input type="hidden" name="submit button", value="search country">
                {{ form.submit(value="Search country", class_='btn btn-default') }}
            </form>
        </div>
    </div>
    <hr>
    {% if posts %}
        {% if user %}
            <h2>Look what {{ user.username }} has made:</h2>
        {% else %}
            <h2>Look what other users have made:</h2>
        {% endif %}
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
    {% else %}
        <center>
        {% if user %}
            <h2>It seems {{ user.username }} has not posted a recipe from {{ country.name }}</h2>
        {% else %}
            <h2>It seems nobody has posted a recipe from {{ country.name }}. Be the first one!</h2>
        {% endif %}
        </center>
    {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}