{% extends "base.html" %}

{% block app_content %}
    {% if has_data %}
        <h1>Take a look at your creations:</h1>
    {% else %}
        <h1>Available posts:</h1>
    {% endif %}

    {% if search_form %}
    <form action="" method="post">
        {{ search_form.hidden_tag() }}
        {{ search_form.search_country_text.label }} <br>
        {{ search_form.search_country_text(cols="20", rows="1", class_='btn btn-default') }}
        <input type="hidden" name="submit button", value="search country">
        {{ search_form.submit(value="Search country", class_='btn btn-default') }}
    </form>
    {% endif %}
    <hr>
    {% if posts %}
    {% for post in posts %}
    <div class="row  text-center">
        <div class="col-md-3">
            <p><img class="panel panel-default"
                src="{{ url_for('static', filename='flags/'+post.origin.flag_url) }}"
                alt="{{ post.origin.name }}'s flag" width="125" height="80">
            </p>
            <p>{{ post.origin.name }}</p>
        </div>
        <div class="col-md-3">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% set f = form.recipe.process_data(post.recipe) %}
            {% set f = form.ingredients.process_data(post.ingredients) %}
            {% set f = form.steps.process_data(post.steps) %}
            {% set f = form.post_id.process_data(post.id) %}
            <p>
                What did you cook?<br>
                {{ form.recipe(rows="1",
                class_='btn btn-default') }}<br>
            </p>
            <p>
                What did you use?<br>
                {{ form.ingredients(rows="2",
                class_='btn btn-default') }}<br>
            </p>
            <p>
                How did you make it?!<br>
                {{ form.steps(rows="3",
                class_='btn btn-default') }}<br>
            </p>
            <style>
                .hidden{
                    visibility: hidden;
                }
            </style>
            <p class="hidden">
                {{ form.post_id() }}
            </p>
            <input type="hidden" name="submit button", value="submit recipe">
            <p>{{ form.submit(class_='btn btn-default') }}</p>
        </form>
        </div>
        <div class="col-md-3">
            <img class="panel panel-default"
            src="{{ url_for('static',filename=post.image_url) }}"
            alt="{{ url_for('static',filename=post.image_url) }}"
            width="125" height="125">
        </div>
    </div>
    {% endfor %}
    {% else %}
    <center>
        {% if general %}
            {% if has_data %}
                <h2>It seems you haven't add any recipe yet</h2>
            {% else %}
                <h2>It seems you don't have any available recipe</h2>
            {% endif %}
        {% else %}
            {% if has_data %}
                <h2>It seems you haven't cooked anything from {{ country_name }}</h2>
            {% else %}
                <h2>It seems you don't have any available recipe for {{ country_name }}</h2>
            {% endif %}
        {% endif %}
    </center>
    {% endif %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}