{% extends "base.html" %}

{% block app_content %}
    {% if has_data %}
        <h1>Take a look at your creations:</h1>
    {% else %}
        <h1>Available posts</h1>
    {% endif %}
    <hr>
    {% for post in posts %}
    <table>
        <tr valign="center">
            <td>
                <p><img src="{{ post.origin.flag_url }}"
                    alt="{{ post.origin.name }}'s flag" width="125" height="80">
                </p>
                <p><center>{{ post.origin.name }}</center></p>
            </td>
            <td>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {% set f = form.recipe.process_data(post.recipe) %}
                {% set f = form.ingredients.process_data(post.ingredients) %}
                {% set f = form.steps.process_data(post.steps) %}
                {% set f = form.post_id.process_data(post.id) %}
                <p>
                    <center>What did you cook?<br></center>
                    {{ form.recipe(cols="40", rows="1",
                    class_='btn btn-default') }}<br>
                </p>
                <p>
                    <center>What did you use?<br></center>
                    {{ form.ingredients(cols="40", rows="2",
                    class_='btn btn-default') }}<br>
                </p>
                <p>
                    <center>How did you make it?!<br></center>
                    {{ form.steps(cols="40", rows="3",
                    class_='btn btn-default') }}<br>
                </p>
                <style>
                    .hidden{
                        visibility: hidden;
                    }
                </style>
                <p class="hidden">
                    {% if has_data %}
                        {{ form.post_id() }}
                    {% else %}
                        {{ form.post_id() }}
                    {% endif %}
                </p>
                <p><center>{{ form.submit(class_='btn btn-default') }}</center></p>
            </form>
            </td>
        </tr>
    </table>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}