<div class="row text-center">
    <div class="col-md-3">
        <p><a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.username }}
        </a></p>
        <p><img class="panel panel-default"
            src="{{ post.author.avatar(70) }}"></p>
        <p>{{ moment(post.timestamp).format('LLL') }}</p>
    </div>
    <div class="col-md-3">
        <p>A recipe from:</p>
        <p><img class="panel panel-default"
            src="{{ url_for('static', filename='flags/'+post.origin.flag_url) }}"
            alt="{{ post.origin.name }}'s flag"
            width="70" height="45">
        </p>
        <p>{{ post.origin.name }}</p>
    </div>
    <div class="col-md-3">
        <p>
            Recipe:<br>
            {{ post.recipe }}
        </p>
        <p>
            <img class="panel panel-default"
            src="{{ url_for('static', filename=post.image_url) }}"
            alt="{{ post.origin.name }}'s photo"
            width="125" height="125">
        </p>
    </div>
</div>