{% extends "base.html" %}

{% block app_content %}
    <h1>It's {{country.name}}!</h1>
    <hr>
    <table>
        <tr valign="center">
            <td>
                <style>
                    .border{
                        border-style: solid;
                        border-width: 1px;
                    }
                </style>
                <img class="border" src="{{ country.flag_url}}" alt="{{ country.name }}'s flag"
                width="125" height="80">
            </td>
            <td>
            <center>
                Did you know? {{ country.name }}'s capital city is:
                {{ country.capital }}<br>
            </center>
            {% if user == current_user %}
                <form action="" method="post">
                {{ form.hidden_tag() }}
                    {% if try_now %}
                        <center>
                            <p>{{ form.submit(value='Try now!', class_='btn btn-default') }}</p>
                        </center>
                    {% else %}
                        <center>
                            <p>{{ form.submit(value='Give it a shot?', class_='btn btn-default') }}</p>
                        </center>
                    {% endif %}
                </form>
            {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <h2>Look what other users made</h2>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}