{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <table>
    <tr valign="top">
        {% if form %}
        <td>
            <p>You have a total of {{ amount_of_available_countries }}
                countries yet to taste!</p>
            <p>You have a total of {{ amount_of_available_posts }}
                to submit.</p>
        </td>
        <form action="" method="post">
        <td>
        <center>
            <p>A new adventure is about to begin<p>
            {{ form.hidden_tag() }}
            {{ form.pick_country_submit(class_='btn btn-default') }}
        </center>
        </td>
        <td>
        <center>
            <p>Share your creations<p>
            {{ form.goto_available_posts_submit(class_='btn btn-default') }}
        </center>
        </td>
    </tr>
    <tr>
        <td>
            {{ form.search_user_text.label }}<br>
            {{ form.search_user_text(cols="20", rows="1", class_='btn btn-default') }}
            {{ form.search_user_submit(class_='btn btn-default') }}
        </td>
        <td>
            {{ form.search_country_text.label }}<br>
            {{ form.search_country_text(cols="20", rows="1", class_='btn btn-default') }}
            {{ form.search_country_submit(class_='btn btn-default') }}
        </td>
        </form>
        {% endif %}
    </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}