
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <table>
    <tr valign="top">
        <td>
            <p>You have a total of {{ amount_of_available_countries }}
                countries yet to taste!</p>
            <p>You have a total of {{ amount_of_available_posts }}
                to submit. Share your recipes!</p>
        </td>
        <td>
            {% if pick_country_form %}
                <p>A new adventure is about to begin<p>
                {{ wtf.quick_form(pick_country_form) }}
            {% endif %}
        </td>
        <td>
            {% if post_recipe_form %}
                <p>Share your creations<p>
                {{ wtf.quick_form(post_recipe_form) }}
            {% endif %}
        </td>
    </tr>
    </table>
    {% if search_user_form %}
    {{ wtf.quick_form(search_user_form) }}
    <br>
    {% endif %}

    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}